<div class="row">
  <div class="small-12 columns">
    <h1>Listing Users</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Provider</th>
          <th>Uid</th>
          <th>Name</th>
          <th>Expires at</th>
          <th>Admin</th>
          <% if current_user.admin? && !current_user?(@user) %>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.provider %></td>
            <td><%= user.uid %></td>
            <td><%= link_to user.name, user %></td>
            <td><%= user.expires_at %></td>
            <td><%= user.admin %></td>
            <% if current_user.admin? && !current_user?(@user) %>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>