<div class="row">
  <div class="small-12 columns">
    <h1><%= @user.name %></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>
      <strong>Provider:</strong>
      <%= @user.provider %>
    </p>

    <p>
      <strong>Uid:</strong>
      <%= @user.uid %>
    </p>

    <p>
      <strong>Expires at:</strong>
      <%= @user.expires_at %>
    </p>

    <p>
      <strong>Admin:</strong>
      <%= @user.admin %>
    </p>

    <p>
      <strong>Books:</strong>
      <%= @user.books.count %>
    </p>
  </div>
</div>

<%= render 'shared/book_list' %>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'Edit user', edit_user_path(@user), class: 'button radius info' %> 
    <%= link_to 'Back to all users', users_path, class: 'button radius info' %>
  </div>
</div>