<div class="row">
  <div class="small-12">
    <h3>Results</h3>
    <table>
      <thead>
        <tr>
          <th>Cover</th>
          <th>Title</th>
          <th>Authors</th>
          <th>Pages</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @google_books_results.each do |result| %>
          <tr>
            <td><img src="<%= result.image_link %>" alt="Cover of <%= result.title %>"></td>
            <td><%= result.title %><br>
              <small><a href="<%= result.info_link %>">View on Google Books</a></small></td>
            <td><%= result.authors %></td>
            <td><%= result.page_count %> pages</td>
            <td><%= link_to "Choose book", new_book_path(:google_books_title => result.title, :google_books_author => result.authors), class: 'button radius success' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>