<div class="row">
  <div class="small-12 columns">
    <h1>My books</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-12 large-6 columns">
      <h2>This year</h2>
      <% if @finished_this_year == 0 %>
        <p>You haven't finished anything yet this year.</p>
      <% else %>
        <p>You've finished <%= @finished_this_year %> books in <%= Date.today.year %>.</p>
        <p>It took you <%= Date.today.yday %> days, or one book every <%= @days_per_book %> days. At this rate, you'll read <%= @books_per_year %> books this year.</p>
      <% end %>
      <p><% if @in_progress > 1 %>
          You're reading <%= @in_progress %> books right now &mdash; better finish some up!
        <% elsif @in_progress < 1 %>
          You aren't reading anything right now. Go start something!
        <% else %>
          You're reading <%= @in_progress %> book right now.
      <% end %></p>
      <% unless @average_this_year.nil? %>
        <p>Average book rating: <%= @average_this_year %>/5</p>
      <% end %>
  </div>
  <div class="small-12 medium-12 large-6 columns">
    <div class="panel">
      <h2>Overall</h2>
      <p>You've started reading <%= @books.count %> books and finished <%= @books.count('end_date') %> of them.</p>
      <% unless @average_overall.nil? %>
        <p>Average book rating: <%= @average_overall %>/5</p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Start</th>
          <th>End</th>
          <th>Rating</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
            <td><%= book.start_date.to_formatted_s(:dmy) %></td>
            <td><% if book.end_date.nil? %>
                  -
                <% else %>
                  <%= book.end_date.to_formatted_s(:dmy) %>
                <% end %></td>
            <td><% if book.rating.nil? %>
                  -
                <% else %>
                  <%= book.rating %>/5
                <%end %></td>
            <td><%= link_to 'Edit', edit_book_path(book), class: 'button radius tiny info' %></td>
            <td><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button radius tiny alert' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= link_to 'Add a new book', new_book_path, class: 'button radius success' %>
  </div>
</div>
